body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}
.item {
  margin: 20px;
  width: 600px;
  padding-bottom: 20px;
  border-bottom: 3px solid #ccc
}
.caption {
  margin: 10px 0;
  font-weight: bold;
  color: #0b63b6;
}
.public_id {
  margin: 5px 0;
  font-size: 12px;
  color: #666;
}
h1 {
  color: #0e2953;
}
h2, h3 {
  color: #0e5e01;
}
.link {
  margin-top: 5px;
}
.link a {
  font-size: 12px;
  color: #666;
}

/* nav */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}