<div class="item">

<div class="caption">
 <%= description %>
</div>

<% options_with_controls = options.merge(:controls => true, :resource_type => 'video') %>
<%= cl_video_tag(public_id, options_with_controls) %>
<div class="link">
  <% link_url = cloudinary_url(public_id, options) %>
  <%= link_to(link_url, link_url, :target => '_blank') %>
  <p> <%= "#{options_with_controls}" %>
</div>

  

</div>