<h1>Auto-upload Examples</h1>

<p>Need to map a folder named 'remote-media` to a cloudinary training server 
path `https://cloudinary-training.github.io/cld-advanced-concepts/assets/` in the DAM.
<br>
You can access the following assets:
  <ul>
    <li><a href="https://cloudinary-training.github.io/cld-advanced-concepts/assets/images/dolphin.jpg" target="_blank">images/dolphin.jpg</a></li>
    <li>video/snowboarding.mp4</li>
    <li>raw/data.json</li>
  </ul>
</p>

<!-- image example -->
<%= render 'image_box',
  public_id: 'remote-media/images/dolphin',
  description: 'Auto-upload image from remote',
  format: '',
  options: {width: 300, height: 300, crop: "lpad"}
%>

<!-- video example -->
<%= render 'video_box',
  public_id: 'remote-media/video/snowboarding',
  description: 'Auto-upload image from remote',
  options: {width: 300, crop: "scale"}
%>

<!-- raw example -->

 <%= link_to(
    cloudinary_url('remote-media/raw/data.json',{:type => 'upload', :resource_type => 'raw'}), 
    cloudinary_url('remote-media/raw/data.json',{:type => 'upload', :resource_type => 'raw'}), 
    :target => '_blank') 
%>

