<h1>Fetch Examples</h1>

<p>Need to unrestrict in security settings</p>
<%= render 'image_box',
  public_id: 'https://cdn.pixabay.com/photo/2015/03/26/09/39/cupcakes-690040__480.jpg',
  description: 'Fetch image from remote ',
  format: '',
  options: {type: 'fetch'}
%>