<h1>
  Uploads and Transformations
</h1>

<%= render 'image_box',
  :public_id => 'dog',
  :url => @uploads[:dog],
  :description => 'Fill 200x200',
  :options => { :width => 200, :height => 200, :crop => "fill" }
%>


