<!DOCTYPE html>
<html>
<head>
  <title>Cloudinary Training</title>
  <%= stylesheet_link_tag "demo", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
